{{!
    This file is part of My Certificates block for Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_mycertificates/custom_menu_footer

    Custom menu footer template

    Example context (json):
    {
        "hascertificates": "true",
        "coursescertificates": [
            {
                "courseid": 2,
                "shortname": "Course #1",
                "fullname": "Course #1 fullname",
                "certificates": [{
                        "name": "Certificate name",
                        "module": "simplecertificate",
                        "url": "https://link.com"
                }]
            }
        ]
    }
}}
{{#hascertificates}}
    {{#coursescertificates}}
        <div class="card mb-1">
            <div class="card-body p-3">
                <h4 class="card-title">{{{ fullname }}}</h4>
                {{#certificates}}
                    <p class="card-text">
                        <a target="_blank" href="{{ downloadurl }}">
                            {{# pix }} icon, {{{ module }}} {{/ pix }} {{{ name }}}
                        </a>
                    <a href="https://www.linkedin.com/sharing/share-offsite/?url={{ shareurl }}" 
 class="ml-2 btn btn-outline-primary">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M100.3 448H7.4V148.9h92.9zM53.8 108.1C24.1 108.1 0 83.5 0 53.8a53.8 53.8 0 0 1 107.6 0c0 29.7-24.1 54.3-53.8 54.3zM447.9 448h-92.7V302.4c0-34.7-.7-79.2-48.3-79.2-48.3 0-55.7 37.7-55.7 76.7V448h-92.8V148.9h89.1v40.8h1.3c12.4-23.5 42.7-48.3 87.9-48.3 94 0 111.3 61.9 111.3 142.3V448z"></path></svg>
                        LinkedIn
                    </a>
                    </p>

                {{/certificates}}
            </div>
        </div>
    {{/coursescertificates}}
{{/hascertificates}}
{{^hascertificates}}
    <p class="alert alert-info">{{#str}}nohavecertificates, block_mycertificates{{/str}}</p>
{{/hascertificates}}

<style>
.btn-outline-primary svg {
    width: 15px;
    height: 15px;
    margin-right: 5px;
    fill: #551C77 !important;
}

</style>